page-lineup {

    .lineup{
        background-color: #f0fa34f3
    }

    .lineup-header
    {
     font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
    }

    .lineup-artists{
        font-size: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}
